.reviewBox {
  background: rgb(255, 243, 243);
  padding: 30px;
}
.review-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #fff;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  border-radius: 10px;
}
.reviewphoto img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-top: -80px;
}
