.dashboard {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  background: #191919;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100vh;
  border-top: rgb(191, 204, 3) 5px solid;
  transition: 0.5s ease-in-out;
  width: 300px;
  padding-left: 15px;
}
.dashboard1 {
  margin-left: -315px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  background: #191919;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100vh;
  border-top: rgb(191, 204, 3) 5px solid;
  border-top-right-radius: 3px;
  transition: 0.5s ease-in-out;
  width: 300px;
  padding-left: 15px;
}

.dashboard3 a {
  text-decoration: none;
  font-size: 18px;
  color: #33ad7f;
  margin: 6px;
}
.fa-bars {
  font-size: 30px;
  height: 40px;
  width: 40px;
  color: #fff;
  margin: 5px 0 0 15px;
  cursor: pointer;
}
.fa-times {
  font-size: 30px;
  height: 40px;
  width: 40px;
  color: #fff;
  margin: 5px 0 0 15px;
  cursor: pointer;
}
.active1 {
  background: #33ad7e25;
  padding: 10px;
  border-radius: 10px;
}
.all-btn2 {
  text-align: center;
  background: #fff;
  color: #191919 !important;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}
.all-btn2:hover {
  background: #33ad7f;
  color: #fff !important;
}
