.fa-pencil-alt {
  color: #33ad7f;
  cursor: pointer;
}
.fa-trash-alt {
  color: #d00000;
  margin-left: 10px;
  cursor: pointer;
}
.updateProduct {
  background: #33ad7f;
  padding: 20px;
  border-radius: 10px;
}
.updateProduct input {
  width: 80%;
  padding: 7px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 7px;
}
