.footer-btn {
  position: absolute;
  top: 10%;
  right: 0;
  border: none;
  outline: none;
  background: none;
  background: #33ad7f;
  color: rgb(247, 247, 247);
  padding: 10px 24px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  z-index: 2;
}
.footer-btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #4b4b4b;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.footer-btn:hover:after {
  width: 100%;
}
